<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  	<title>Projeto LP2A2</title>
	  	<link href="/style.css" rel="stylesheet" type="text/css" media="all">
    
 		<link rel="stylesheet" type="text/css" href="static/style.css"/>
	  </head>
	  <body style="background-color:#706e66;">
	  <div class="navbar">
		  <a href="/home">About</a>
		  <a href="1">Lista</a>
		  <div class="dropdown">
		  <button class="dropbtn" onclick="myFunction()">Regiões
		    <i class="fa fa-caret-down"></i>
		  </button>
		  <div class="dropdown-content" id="myDropdown">
		    <a href="/pessoas/search/nordeste/1">Nordeste</a>
		    <a href="/pessoas/search/norte/1">Norte</a>
		    <a href="/pessoas/search/centro-oeste/1">Centro-Oeste</a>
		    <a href="/pessoas/search/sul/1">Sul</a>
		    <a href="/pessoas/search/sudeste/1">Sudeste</a>
		  </div>
		  </div> 
		</div>
	
	  <h2>Pessoas</h2>
	 
	  
	  
	  <div	th:each="person: ${persons}" class="box">
	  		<div  class="row" id="rounded">
	  			<p><img th:src="${person.picture.medium}"></img></p>
	  			<p id="name"><a th:href="@{'/pessoas/' + ${#strings.toString(person.id)}}"><span th:text="${#strings.capitalize(person.name.first)}">   </span>  <span th:text=" ${#strings.capitalize(person.name.last)}" >  </span></a></p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(#strings.substring((person.location.street),4))}" >  </span> <span th:text="${#strings.substring((person.location.street),0,4)}"> </span></p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(person.location.city)}"> </span> </p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(person.location.region)}"> </span> </p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(person.location.state)}"> </span> - CEP: <span th:text="${person.location.postcode}"> </span> </p>
				
	  		</div>
	  	
	  	
	  </div>
	  
	  <script>
		
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		}
		
			window.onclick = function(e) {
		  if (!e.target.matches('.dropbtn')) {
		  var myDropdown = document.getElementById("myDropdown");
		    if (myDropdown.classList.contains('show')) {
		      myDropdown.classList.remove('show');
		    }
		  }
		}
		</script>
	  
	  </body>

	<footer style="font-size: large" class="panel-footer">
	
    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
    &nbsp; &nbsp; - &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/pessoas/lista/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
</footer>
</html>