<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head>
	  	<title>Projeto LP2A2</title>
	  	<link href="/style.css" rel="stylesheet" type="text/css" media="all">
    
 		<link rel="stylesheet" type="text/css" href="static/style.css"/>
	  </head>
	  <body>

	  <h2>pessoas</h2>
	  
	  <div	th:each="person: ${persons}" class="box">
	  		<div class="row" id="rounded">
	  			<p><img th:src="${person.picture.medium}"></img></p>
	  			<p id="name"><span th:text="${#strings.capitalize(person.name.first)}">   </span>  <span th:text=" ${#strings.capitalize(person.name.last)}" >  </span></p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(#strings.substring((person.location.street),5))}" >  </span> <span th:text="${#strings.substring((person.location.street),0,5)}"> </span></p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(person.location.city)}"> </span> </p>
	  			<p id="name"><span th:text="${#strings.capitalizeWords(person.location.state)}"> </span> - CEP: <span th:text="${person.location.postcode}"> </span> </p>
				
	  		</div>
	  	
	  	
	  </div>
	  
	  
	  </body>

	<footer style="font-size: large" class="panel-footer">
	
    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
    &nbsp; &nbsp; - &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/pessoas/lista/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
</footer>
</html>